# Core functionality - changes here should be rare!
/src/app.py                   @sage237
/src/backend/database.py      @sage237
/src/backend/routers/auth.py  @sage237

# The frontend will need refactored soon to be more object oriented.
/src/static/   @sage237
